---
title: Accessible by design. Accessible by choice.
layout: layouts/layout.njk
---

<p class="main__lead-paragraph">Accessibility is meeting your customers where they are. Making sure your website is
  usable for someone who only uses a smart phone. For someone who is deaf or hard-of-hearing. For someone who is blind
  or someone who prefers a light-touch selling experience. It is all of these things and more.</p>

<h2>Accessibility starts with the end in mind.</h2>

<p>We achieve the best outcome when we make accessibility a requirement instead of a check before launching a website.
  Sites are easier to change because code hasn't been added to fix existing problems. As a result, sites are easier to
  test&mdash;fewer lines of code mean fewer bugs.</p>

<h3 id="list-services">Continuum Design specializes in web and document accessibility:</h3>
<ul>
  <li>User-interface design</li>
  <li>User-experience design</li>
  <li>Front-end development (HTML, CSS, JavaScript, ARIA)</li>
  <li>Manual testing (more on this below)</li>
  <li>Automated testing (more on this below)</li>
  <li>WCAG2.0 and 2.1 standards</li>
  <li>PDF, Word document creation</li>
</ul>