---
title: Accessible by design
shortTitle: Accessibility
layout: 'layouts/servicesLayout.njk'
parentDir: '/services/'
parentText: All services
tags: services
---

<main role="main">
  <div class="content__layout">
    <h1>{{ title }}</h1>

    <div class="services__opening">
      <blockquote class="services__lead-paragraph">
        <p>
          <span class="type__leading-quote">&ldquo;</span>Accessibility should not be thought as a feature. It is a requirement.&rdquo;
      </p>
      </blockquote>
    </div>

    <h2 class="services__content-header">Start with the end in mind</h2>
    <p class="services__content-paragraph">
      We achieve the best outcome when we make accessibility a project requirement
      instead of a check before launching a website. Sites are easier to change
      because code hasn't been written to fix existing problems. As a result,
      sites are easier to test&mdash;fewer lines of code mean fewer bugs.
    </p>

    <h3 id="list-services">Test categories</h3>
    <ul>
      <li>Mobile devices</li>
      <li>Keyboard navigation</li>
      <li>Voice navigation</li>
      <li>Color contrast and color blindness</li>
      <li>Screen readers
        <ul>
          <li>JAWS</li>
          <li>NVDA</li>
          <li>VoiceOver</li>
        </ul>
      </li>
    </ul>

    <h3 class="services__content-header">Automated testing</h3>
    <p class="services__content-paragraph">
      Autmated tests are a great way to ensure a baseline of compliance. Unit
      tests check small snippets of code like a shopping cart or a navigation
      bar. Integration tests make sure units are working together. End-to-end
      tests confirm user actions from beginning to end. Visual regression tests
      make sure your site layout has not changed unexpectedly.
    </p>

    <h3 class="services__content-header">Manual testing</h3>
    <p class="services__content-paragraph">
      Some accessibility testing can be automated, but there are key things that
      a person must test. Computers do a great job repeating the same task,
      asking if anything has changed. But it takes a person to answer &ldquo;How
      does this website, how does this application work? Can I use it without
      getting frustrated or discouraged? Does it make me feel good about this
      purchase?&rdquo;
    </p>
  </div>
</main>

<aside role="complementary">
  <div class="content__layout">
    <h4>I am the aside. Are you not entertained?</h4>
  </div>
</aside>