---
title: Accessible by design. Accessible by choice.
layout: "layouts/servicesLayout.njk"
---

<main role="main">
  <div class="content__layout">
    <h1>{{ title }}</h1>

    <blockquote class="content__lead-paragraph">
      <p>
        Accessibility is meeting your customers where they are. Making sure your
        website is usable for someone who only uses a smart phone. For someone
        who is deaf or hard-of-hearing. For someone who is blind or someone who
        prefers a light-touch selling experience. It is all of these things and
        more.
      </p>
    </blockquote>

    <h2>Accessibility starts with the end in mind</h2>
    <p>
      We achieve the best outcome when we make accessibility a requirement
      instead of a check before launching a website. Sites are easier to change
      because code hasn't been added to fix existing problems. As a result,
      sites are easier to test&mdash;fewer lines of code mean fewer bugs.
    </p>

    <h3 id="list-services">Test Categories</h3>
    <ul>
      <li>Mobile device users (smartphones, tablets)</li>
      <li>Keyboard navigation</li>
      <li>Voice navigation</li>
      <li>Color contrast and color blindness</li>
      <li>Screen readers (JAWS, NVDA, VoiceOver)</li>
    </ul>

    <h3>Automation</h3>
    <p>
      Autmated tests are a great way to ensure a baseline of compliance. Unit
      tests check small snippets of code like a shopping cart or a navigation
      bar. Integration tests make sure units are working together. End-to-end
      tests confirm user actions from beginning to end. Visual regression tests
      make sure your site layout has not changed unexpectedly.
    </p>

    <h3>Manual Testing</h3>
    <p>
      Some accessibility testing can be automated, but there are key things that
      a person must test. Computers do a great job repeating the same task,
      asking if anything has changed. But it takes a person to answer &ldquo;How
      does this website, how does this application work? Can I use it without
      getting frustrated or discouraged? Does it make me feel good about this
      purchase?&rdquo;
    </p>
  </div>
</main>

<aside role="complementary">
  <div class="content__layout">
    <h4>I am the aside. Are you not entertained?</h4>
  </div>
</aside>
