---
title: A memorable brand will set your business apart
shortTitle: Brand and identity
layout: 'layouts/servicesLayout.njk'
parentDir: '/services/'
parentText: All services
tags: services
---

<div class="content__layout">
  <h1>{{ title }}</h1>
  <div class="services__opening">
    <blockquote class="services__lead-paragraph">
      <p>
        <span class="type__leading-quote">&ldquo;</span>Identity design&mdash;also known as <strong>branding</strong>&mdash;is creating a visual
      symbol for your business. This could be your name in a
      logotype, an abstract shape, or a simple version of your company seal.&rdquo;
    </p>
    </blockquote>
  </div>

  <h2 class="services__content-header">Start with an interview</h2>
  <p class="services__content-paragraph">
    Continuum Design will meet with you in person or over a video chat, to get
    to know you and your business. I will ask about the history, important
    dates or events, and what the business means to you. These questions are
    crucial. They help me create an identity to serve your business well.
  </p>

  <h2 class="services__content-header">Sketch the best ideas</h2>
  <p class="services__content-paragraph">
    After the interview, I will gather my notes and create a design brief. I
    will share this brief with you and your stakeholders. Then I will start
    sketching the two or three best ideas for an identity. These sketches will
    capture the most important ideas we outlined in the design brief.
  </p>

  <h2 class="services__content-header">Iterate on the best prototype</h2>
  <p class="services__content-paragraph">
    Continuum Design will present the two or three best ideas for you to
    choose from. I will discuss the merits of each idea and leave the samples
    so you can think about the right one for a few days. These samples will be
    in black and white only. Brands must work in black and white before they
    can work in color.
  </p>

  <p class="services__content-paragraph">
    Once you have selected the brand that fits your business, Continuum Design
    will start adding color to the mark, and creating size tests. Size tests
    ensure your brand looks its best on screen, on letterhead, business cards,
    at any size.
  </p>

  <h2 class="services__content-header">Deliver camera-ready files</h2>
  <p class="services__content-paragraph">
    All size tests, black and white, and color versions of your brand will
    become your property when final payment is received. Continuum Design will
    provide digital versions of your artwork in camera-ready vector files.
    This means printers will be able to open your files and go to press
    without expensive setup or rework.
  </p>

  <p class="services__content-paragraph">
    Continuum Design will keep a back-up of your digital files in case the
    worst happens. This backup will be secured with strong passwords and
    multi-factor authentication (MFA).
  </p>

  <h2 class="services__content-header">Consider a style guide</h2>
  <p class="services__content-paragraph">
    If your brand will be used in a large number of ways and sizes
    (letterhead, screen, vehicles) you should consider a style guide. This is
    a digital (or printed) file that outlines where and how your brand should
    be use. It calls out clear space requirements, proper sizes, colors, and
    placement. The style guide also calls out things that should be avoided,
    like using the brand in color on a black background, for instance.
  </p>

  <p class="services__content-paragraph">
    Style guides take additional time to produce, but offer a comprehensive
    reference for using your brand correctly. A style guide will help you
    represent your business in the best light, no matter the source.
  </p>

  <div class="content__action-link-container">
    <a href="/contact/" class="content__action-link">
      <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
        <path
          d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
      </svg>
      <span>Contact me</span>
    </a>
  </div>
</div>
