---
title: Learn how Continuum Design can help you
layout: layouts/layout.njk
---

<div class="services__opening">
  <p class="service__lead-paragraph">
    I focus on building simple, reliable websites for small business. The core
    services I offer form a continuum of ideas. This means your business will be
    well-positioned to compete in the marketplace, digital or otherwise.
  </p>

  <h2>What is a continuum?</h2>
  <dl class="services__quote-list">
    <dt class="services__quote-entry">continuum:</dt>
    <dd class="services__quote-definition">
      a coherent whole characterized as a collection, sequence, or progression
      of values or elements varying by minute degrees
      <div>
        <cite
          ><a href="https://www.merriam-webster.com/dictionary/continuum"
            >Merriam-Webster Dictionary</a
          ></cite
        >
      </div>
    </dd>
  </dl>
</div>

<div class="services__container">
  <h2>Core Services</h2>
  <p>
    At this time, I am offering core services in design and front-end web
    development. Check back soon for new services like networking and cyber
    security.
  </p>
  <div class="services__card">
    <h3>Web Development</h3>
    <p>
      Websites need to load fast. They need to look good on smart phones. And
      they need to appear in your favorite web search.
    </p>
    <a href="/services/web-development/"
      >ACTION LINK Learn more about web development</a
    >
  </div>

  <div class="services__card">
    <h3>Accessibility</h3>
    <p>
      Is your website accessible? Does it look good on small screens? Is the
      content easy to find? Continuum Design can help you answer these questions
      and ensure your site is usable for everyone.
    </p>
    <a href="/services/accessibility/"
      >ACTION LINK Learn more about accessibility</a
    >
  </div>

  <div class="services__card">
    <h3>Visual Design</h3>
    <p>
      The Ghostbusters proclaimed "Print is dead." David Carson wrote a book
      called 'The End of Print'. But they were wrong. Print has changed, but
      it's not dead and it's not over. Posters, brochures, booklets, and
      pamphlets still have a place in businesses big and small.
    </p>
    <a href="#">ACTION LINK Learn more about visual design</a>
  </div>

  <div class="services__card">
    <h3>Brand &amp; Identity</h3>
    <p>
      Branding and identity have changed a lot in the past twenty years.
      Animation, alternate color schemes, and a willingness to experiment. What
      hasn't changed is the need for a recognizable identity that tells your
      story.
    </p>
    <a href="#">ACTION LINK Learn more about brand &amp; identity</a>
  </div>
</div>
