---
title: Learn how Continuum Design can help you
layout: layouts/layout.njk
tags: ['sitemap']
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>
    <div class="services__opening">
      <blockquote class="services__lead-paragraph">
        <p>
          <span class="type__leading-quote">&ldquo;</span>I build simple, reliable websites for small business. Your business will be well positioned to compete in the digital marketplace.&rdquo;
      </p>
      </blockquote>
    </div>

    <div class="services__container">
      <h2 class="services__content-header">Core services</h2>
      <p class="services__content-paragraph">
        At this time, I specialize in user experience, frontend web
        development, and graphic design. Check back soon for new services like networking and cyber
        security.
      </p>
      <div class="services__card">
        <h3 class="services__content-header">Web development</h3>
        <p class="services__content-paragraph">
          Websites need to load fast. They need to look good on smart phones.
          And they need to appear in your favorite web search.
          <span class="content__action-link-container content__action-link-container--short">
            <a href="/services/web-development/" class="content__action-link">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
                />
              </svg>
              <span>Learn about web development</span>
            </a>
          </span>
        </p>
      </div>

      <div class="services__card">
        <h3 class="services__content-header">User experience</h3>
        <p class="services__content-paragraph">
          How many clicks does it take to add your product to a cart? To purchase a widget? Are science fiction books filed under the &ldquo;Miscellaneous&rdquo; category? User experience to the rescue!
          <span class="content__action-link-container content__action-link-container--short">
            <a href="/services/user-experience/" class="content__action-link">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
                />
              </svg>
              <span>Learn about user experience</span>
            </a>
          </span>
        </p>
      </div>

      <div class="services__card">
        <h3 class="services__content-header">Accessibility</h3>
                  <p class="services__content-paragraph">
          Is your website accessible? Does it look good on small screens? Is the
          content easy to find? Continuum Design can help you answer these
          questions and ensure your site is usable for everyone.
          <span
            class="
              content__action-link-container
              content__action-link-container--short
            "
          >
                      <a href="/services/accessibility/" class="content__action-link">
                        <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                          <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
                />
              </svg>
              <span>Learn about accessibility</span>
            </a>
          </span>
        </p>
      </div>

      <div class="services__card">
        <h3 class="services__content-header">Print design</h3>
        <p class="services__content-paragraph">
          The Ghostbusters proclaimed <strong>&ldquo;Print is dead.&rdquo;</strong> David Carson wrote a book
          called &lsquo;The End of Print&rsquo;. They were wrong. Print has changed, but
          it's not dead. Posters, brochures, booklets, and
          pamphlets still have a place in businesses big and small.
          <span
            class="
              content__action-link-container
              content__action-link-container--short
            "
          >
            <a href="/services/print-design/" class="content__action-link">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
                />
              </svg>
              <span>Learn about print design</span>
            </a>
          </span>
        </p>
      </div>

      <div class="services__card">
        <h3 class="services__content-header">Brand &amp; identity</h3>
        <p class="services__content-paragraph utils__margin-bottom--0">
          Branding and identity have changed a lot in the past twenty years.
          Animation, alternate color schemes, and a willingness to experiment.
          What hasn't changed is the need for a recognizable identity that tells
          your story.
          <span
            class="
              content__action-link-container
              content__action-link-container--short
            "
          >
            <a
              href="/services/brand-and-identity/"
              class="content__action-link"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
                />
              </svg>
              <span>Learn about brand identity</span>
            </a>
          </span>
        </p>
      </div>

      <h2>How I work</h2>

      <p>It starts with a meeting, in person when possible, and online when not. I tend to listen, take notes, and ask a few open-ended questions. I want to get to know your business. To understand your goals, and what you hope to achieve by partnering with Continuum Design.</p>

      <h3>A typical engagement might look like:</h3>

      <ol class="services__engagement-list" role="list">
      <li class="services__engagement-list-item"><strong>First meeting</strong><span>This will usually be a video call (Google Chat, Skype, Zoom) but could be in-person</span></li>
      <li class="services__engagement-list-item"><strong>Comparative analysis</strong><span>I will review your goals against peer competitors and write a proposal of work</span></li>
      <li class="services__engagement-list-item"><strong>First quote</strong><span>The first quote will include work to be done, an estimate of hours, and an hourly cost rate</span></li>
      <li class="services__engagement-list-item"><strong>Quote amendments</strong><span>Any change requests will be added to the quote document before a contract is drafted</span></li>
      <li class="services__engagement-list-item"><strong>Contract</strong><span>After the quote amendments are agreed upon, Continuum Design will send the customer a simple contract to sign</span></li>
      <li class="services__engagement-list-item"><strong>Work begins</strong><span>Once a contract is agreed upon and signed, a deposit will be collected and work can begin</span></li>
      </ol>
    </div>
  </div>
</main>
