---
title: The services Continuum Design offers
layout: layouts/layout.njk
---

This is the services page.It will include web design, web development,
accessibility, and basic home networking. Maybe even basic security steps businesses can take.

<div class="services__container">
  <div class="services__card">
    <h2>Accessibility</h2>
    <p>Is your website accessible? Does it look good on small screens? Is the content easy to find? Continuum Design can
      help you answer these questions and ensure your site is usable for everyone.</p>
    <a href="#">ACTION LINK Learn more about accessibility</a>
  </div>

  <div class="services__card">
    <h2>Brand &amp; Identity</h2>
    <p>Branding and identity have changed a lot in the past twenty years. Animation, alternate color schemes, and a
      willingness to experiment. What hasn't changed is the need for a recognizable identity that tells your story.</p>
    <a href="#">ACTION LINK Learn more about brand &amp; identity</a>
  </div>

  <div class="services__card">
    <h2>Visual Design</h2>
    <p>The Ghostbusters proclaimed "Print is dead." David Carson wrote a book called 'The End of Print'. But they were
      wrong. Print has changed, but it's not dead and it's not over. Posters, brochures, booklets, and pamphlets still
      have a place in businesses big and small.</p>
    <a href="#">ACTION LINK Learn more about visual design</a>
  </div>

  <div class="services__card">
    <h2>Accessibility</h2>
    <p>Is your website accessible? Does it look good on small screens? Is the content easy to find? Continuum Design can
      help you answer these questions and ensure your site is usable for everyone.</p>
    <a href="#">ACTION LINK Learn more about accessibility</a>
  </div>
</div>