---
date: 2021-11-03
layout: 'layouts/servicesLayout.njk'
parentDir: '/services/'
parentText: All services
shortTitle: Visual design
tags: services
title: It all started with visual communication
---

{% set previousPost = collections.services | getPreviousCollectionItem(page) %}
{% set nextPost = collections.services | getNextCollectionItem(page) %}

<main role="main">
<div class="content__layout">
  <h1>{{ title }}</h1>
  <div class="services__opening">
    <blockquote class="services__lead-paragraph">
      <p>
        <span class="type__leading-quote">&ldquo;</span>Every business benefits from good visual communication through design. But what kind, exactly?&rdquo;
      </p>
    </blockquote>
  </div>

  <h2 class="services__content-header">Print</h2>
  <p class="services__content-paragraph">
      Print design is what you're looking for if you need a poster, brochure, or
      letterhead. I can design simple, one-color brochures all the way up to
      full-color posters. I will work with you to select paper, colors, and a
      printer. We will explore different printing options like soy-based inks or
      digital offset printing to match your budget.
    </p>

  <h2 class="services__content-header">User-interface design</h2>
  <p class="services__content-paragraph">
      User-interface or UI design, is like visual design, but incorporates
      interaction, animation, and screen size to create web pages users can
      interact with. UI design decides what color to make the submit button and
      how to organize content neatly. UI design is closely related to
      user-experience or UX design.
    </p>

  <h2 class="services__content-header">User-experience design</h2>
  <p class="services__content-paragraph">
      UX design explores the steps users take to accomplish a task. Common UX
      problems include signing up for a newsletter, ecommerce checkouts, and
      selecting photos for upload. UX often involves custom interfaces and
      multi-step forms for collecting data. UX design adopts ideas from
      psychology about how we learn and perceive information, to help customers
      perform tasks easily.
    </p>

  <h2 class="services__content-header">Data visualization</h2>
  <p class="services__content-paragraph">
      Data visualization is a niche specialty for organizing data into charts
      and tables. The data is then used to tell a story like rate of change or
      sports statistics. Charts are often paired with tables to offer visual and
      semantic stories that are accessible to a wide audience. The trick is
      knowing what display to use, and how to organize the data to tell your
      story, not just a story.
    </p>

  <div class="content__action-link-container">
    <a href="/contact/" class="content__action-link">
      <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
        <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
        <path
            d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
        </svg>
        <span>Contact me</span>
      </a>
    </div>
  </div>
</main>

<nav aria-label="Pagination">
  <ul class="content__layout pagination__list" role="list">
    {% if previousPost %}
      <li class="pagination__list-item">
        <strong>Previous:</strong> <a href="{{ previousPost.url }}">{{ previousPost.data.shortTitle }}</a>
      </li>
    {% endif %}
    {% if nextPost %}
      <li class="pagination__list-item pagination__list-item--next"">
        <strong>Next:</strong> <a href="{{ nextPost.url }}">{{ nextPost.data.shortTitle }}</a>
      </li>
    {% endif %}
  </ul>
</nav>