---
title: Continuum Design can bring your business online
shortTitle: Web development
layout: 'layouts/servicesLayout.njk'
parentDir: '/services/'
parentText: All services
---

<main role="main">
  <div class="content__layout">
    <h1>{{ title }}</h1>

    <blockquote class="content__lead-paragraph">
      <p>
        Word-of-mouth is the best way to drive new business. A properly
        optimized website is a close second.
      </p>
    </blockquote>

    <h2>What a website can do for you</h2>
    <p>
      Potential customers are often lost at three critical points. A website
      must be easy to find, look great on small screens, and provide a clear
      call to action.
    </p>

    <h2>Search results are the first step to new customers</h2>
    <p>
      Incomplete listings can send the wrong message. Customers will skip search
      listings that don't provide a web link, telephone number, or physical
      address. You want your business to stand out in a crowded field and you
      have just a few seconds to make an impression.
    </p>

    <h3>Search engine optimization (SEO)</h3>
    <p>
      Continuum Design uses good SEO practices to get your website noticed. I
      will design a custom data profile that will help Google and other search
      engines understand your business. Search engines reward these good
      practices with higher listings. I can also connect your website to social
      media sites like Facebook or Instagram.
    </p>

    <h2>Responsive design is good design</h2>
    <p>
      Customers want a website to look good. Sites should respond to the size of
      your screen, so they look good at any size <strong>and</strong> are
      pleasing to read. This is responsive design in a nutshell. Continuum
      Design will lean on twenty years of design experience to create a look
      that puts your best foot forward, then program it to fit to screens of all
      sizes.
    </p>

    <h2>Help customers say yes</h2>
    <p>
      So customers have found your site, and are impressed with your business.
      They're ready to take the next step. Do they have a clear path to contact
      you?
    </p>
    <p>
      Continuum Design will develop the right solution for you to follow up with
      customers. That could be a simple contact form and email, or integration
      with your social media feed.
    </p>
  </div>
</main>

<aside role="complementary">
  <div class="content__layout">
    <h4>I am the aside. Are you not entertained?</h4>
  </div>
</aside>
