/* ========================================
 * /components _ACTION_LINKS.CSS
 * ======================================== */

/* Action links */
.content__action-link-container {
  display: block;
  margin: var(--font-vertical-rhythm) 0;
  margin-left: -6px;

  &--short {
    margin-top: 0.5rem;
  }

  a {
    color: var(--color-link-blue-dark);
    display: block;
    font-family: var(--typefaces-sans);
    font-variation-settings: "wght" var(--font-weight-semi-bold);
    letter-spacing: -0.05px;
    text-decoration: none;
    width: fit-content;

    &:hover,
    &:focus {
      color: var(--color-background-dusty-rose--dark);

      span {
        border-bottom-color: currentColor;
      }
    }

    span {
      border-bottom: 2px solid var(--color-link-blue-dark);
    }

    svg {
      fill: currentColor;
      height: 2rem;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}
