.content__skip-nav {
  display: flex;
  font-variation-settings: "wght" var(--font-weight-semi-bold);
  padding: 1.25rem 3rem;
  position: absolute;
  top: -9999px;

  &:focus {
    background-color: var(--color-white);
    top: 0;
    z-index: var(--z-index-5);
  }

  &:focus-visible {
    outline-offset: 0;
  }
}
