---
title: Contact me for your next project
layout: layouts/layout.njk
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>

    <blockquote class="content__lead-paragraph">
      <p>
        Continuum Design looks forward to hearing from you. Please fill out the
        form below. All fields are required except a phone number.
      </p>
    </blockquote>

    <form action="" novalidate class="contact-form">
      <fieldset class="contact-form__fieldset">
        <legend class="contact-form__legend">
          <h2>Your information</h2>
        </legend>
        <ul class="utils__list--no-bullets contact-form__list" role="list">
          <li class="contact-form__list-item">
            <label for="name" class="contact-form__label">Your name</label>
            <input type="text" autocomplete="name" id="name" required />
          </li>
          <li class="contact-form__list-item">
            <label for="email" class="contact-form__label"
              >Email address</label
            >
            <input type="email" autocomplete="email" id="email" required />
          </li>
          <li class="contact-form__list-item">
            <label for="telephone" class="contact-form__label"
              >Telephone number (optional)</label
            >
            <input type="tel" autocomplete="tel" id="telephone" />
          </li>
          <li class="contact-form__list-item">
            <label for="consented" class="contact-form__label contact-form__label--checkbox">
              <input type="checkbox" id="consented" required />
              <span>I consent to being contacted</span>
            </label>
          </li>
          <li class="contact-form__list-item">
            <input class="contact-form__submit" type="submit" value="Send my contact info" />
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
</main>
