---
title: Contact me for your next project
layout: layouts/layout.njk
tags: ['sitemap']
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>

    <blockquote class="content__lead-paragraph">
      <p>
        Continuum Design looks forward to hearing from you. Please fill out the
        form below. All fields are required except a phone number.
      </p>
      <noscript>
        <p>I apologize for the inconvenience, but Javascript is required to complete this contact form.</p>
      </noscript>
    </blockquote>

    <form
      action="thankyou/"
      class="contact-form"
      id="continuum-contact-form"
      novalidate
    >
      <fieldset class="contact-form__fieldset">
        <legend class="contact-form__legend">
          <h2>Your information</h2>
        </legend>
        <div class="contact-form__alert" role="alert" tabindex="-1"></div>
        <ul class="utils__list--no-bullets contact-form__list" role="list">
          <li class="contact-form__list-item">
            <label for="name" class="contact-form__label"><span aria-hidden="true" class="contact-form--flourish">&#8674;&nbsp;</span>Your name</label>
            <p aria-live="assertive" class="contact-form__error-msg" id="error-msg-name">A name of two or more letters is required</p>
            <input
              autocomplete="name"
              class="js--validate"
              id="name"
              maxlength="50"
              minlength="2"
              name="name"
              pattern="[A-Za-z' -.,]{2,50}"
              type="text"
              required
            />
          </li>
          <li class="contact-form__list-item">
            <label for="email" class="contact-form__label"
              ><span aria-hidden="true" class="contact-form--flourish">&#8674;&nbsp;</span>Email address</label
            >
            <p aria-live="assertive" class="contact-form__error-msg" id="error-msg-email">A valid email address is required</p>
            <input
              autocomplete="email"
              class="js--validate"
              id="email"
              maxlength="75"
              name="email"
              type="email"
              required
            />
          </li>
          <li class="contact-form__list-item">
            <label for="telephone" class="contact-form__label"
              ><span aria-hidden="true" class="contact-form--flourish">&#8674;&nbsp;</span>Telephone number <em>(optional)</em></label
            >
             <p aria-live="assertive" class="contact-form__error-msg" id="error-msg-telephone">Enter a valid telephone number with area code</p>
            <input
              autocomplete="tel"
              class="js--validate"
              id="telephone"
              maxlength="20"
              name="telephone"
              pattern="^[(]{0,1}[0-9]{3}[)]{0,1}[-.\s]?[0-9]{3}[-.\s]?[0-9]{4}$"
              placeholder="123-456-7890"
              type="tel"
            />
          </li>
          <li class="contact-form__list-item">
            <label for="message" class="contact-form__label"><span aria-hidden="true" class="contact-form--flourish">&#8674;&nbsp;</span>Your message to Continuum Design</label>
            <p aria-live="assertive" class="contact-form__error-msg" id="error-msg-message">A short message is required</p>
            <textarea
              class="js--validate"
              id="message"
              maxlength="750"
              minlength="5"
              name="message"
              required
            ></textarea>
          </li>
          <li class="contact-form__list-item">
            <label for="consented" class="contact-form__label contact-form__label--checkbox">
              <input class="js--validate" type="checkbox" id="consented" name="consent" required />
              <span>I give Continuum Design permission to contact me</span>
            </label>
            <p aria-live="assertive" class="contact-form__error-msg" id="error-msg-consented">You must check the consent box before submitting</p>
          </li>
          <li class="contact-form__list-item utils__display--none">
            <label for="ztob" class="contact-form__label">Leave this field blank if you are a human</label>
            <input type="text" id="ztob" name="ztob" />
          </li>
          <li class="contact-form__list-item utils__margin-top--0">
            <div class="cf-turnstile" data-sitekey="0x4AAAAAAABZIfCpkjA2TLo6"></div>
          </li>
          <li class="contact-form__list-item">
            <input class="contact-form__submit" type="submit" value="Send message" />
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
</main>
