---
title: Aw, frowny face
layout: layouts/layout.njk
eleventyExcludeFromCollections: true;
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>
    <div class="services__container">
      <p>Something went wrong with my answering machine. It&rsquo;s the worst thing I&rsquo;ve bought all year. Seriously, it wont&rsquo;t hook up to my computer at all.</p>
      <p>Please <a href="/contact/">send your message again</a> or <a id="contact" class="js-link--email" href="">email the studio</a>.</p>
      <p class="utils__text-align--center" aria-hidden="true">&#9733;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9733;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9733;</p>
      <p class="utils__text-align--center"><a href="https://www.youtube.com/watch?v=siwpn14IE7E">Danger Zone</a></p>
    </div>
  </div>
</main>
