---
title: Thank you!
layout: layouts/layout.njk
eleventyExcludeFromCollections: true;
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>
    <div class="services__container">
      <p>Continuum Design will be in touch with you shortly. <a href="/">Back to work for the digital age!</a></p>
    </div>
  </div>
</main>
