/* ========================================
 * /landmarks _BREADCRUMB_NAV.CSS
 * ======================================== */

/* Default "back by one" breadcrumb */
nav[aria-label='Breadcrumbs'] {
  height: 2.5rem;
  padding-top: 0.5rem;

  .content__breadcrumb-list,
  .content__breadcrumb-list-item {
    padding: 0;
  }

  .content__breadcrumb-list {
    align-self: center;
    font-family: var(--typefaces-sans);
  }

  .content__breadcrumb-list-item {
    display: none;
    list-style-type: none;

    &:nth-last-child(2) {
      display: inline;
    }

    &::before {
      content: '<';
      color: var(--color-link-blue-dark);
    }
  }
}

/* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  nav[aria-label='Breadcrumbs'] {
    height: 4rem;
    padding: 0;

    .content__breadcrumb-list {
      align-self: center;
      margin: 0;
    }

    .content__breadcrumb-list-item {
      display: inline;
      margin-right: 0.325rem;

      &::before {
        content: '';
      }

      &::after {
        color: var(--color-background-gray);
        content: '>';
        margin-left: 0.4rem;
      }

      &:last-of-type::after {
        content: '';
      }
    }

    a {
      font-size: calc(var(--fluid-0) * 0.875);
    }

    a[aria-current='location'] {
      color: var(--color-background-black);
      cursor: default;
      font-weight: var(--font-weight-bold);
      pointer-events: none;
      text-decoration: none;
    }
  }
}
