/* ========================================
 * /landmarks _HEADER.CSS
 * ======================================== */
[role='banner'] {
  background-color: var(--color-background-dusty-rose);
  height: 6.25rem;
  position: relative;

  a {
    display: inline-block;
    font-variation-settings: "wght" var(--font-weight-semi-bold);
    margin: 1rem 0 0;
    max-width: 50ch;
    text-decoration: none;

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 6px solid var(--color-white);
    }
  }

  span {
    background-color: var(--color-background-blue--dark);
    color: var(--color-white);
    display: block;
    font-size: var(--fluid-2);
    margin-bottom: 0.25rem;
    padding: 0 0.5rem 0 0.25rem;

    + span {
      display: inline-block;
      font-size: var(--fluid-0);
      margin: 0;
      padding-right: 1rem;
    }
  }

  img {
    height: 6.25rem;
    object-fit: cover;
    width: 100%;
  }

  .content__layout--header-text {
    position: relative;
    z-index: var(--z-index-2);
  }

  .content__layout--hero {
    background-color: var(--color-background-dusty-rose);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--z-index-1);
  }

  /* Tablet devices - 768px breakpoint */
  @media only screen and (min-width: 48rem) {
    height: 10rem;

    span {
      font-size: var(--fluid-3);

      + span {
        font-size: var(--fluid-1);
      }
    }

    img {
      height: 10rem;
    }
  }

  /* Mid-size screens 1024px to 1280px */
  @media only screen and (min-width: 64rem) {
    height: 12rem;

    img {
      height: 12rem;
    }
  }

  /* Large screens 1280px and wider */
  @media only screen and (min-width: 80rem) {
    height: 18rem;

    a {
      margin-top: 3rem;
    }

    img {
      height: 18rem;
    }
  }
}
