/* ========================================
 * /landmarks _PAGINATION_NAV.CSS
 * ======================================== */

/* End of page pagination */
nav[aria-label="Pagination"] {
  height: auto;
  padding-top: 0.5rem;

  .pagination__list,
  .pagination__list-item {
    margin: 0;
    padding: 0;
  }

  .pagination__list {
    align-content: space-between;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    font-family: var(--typefaces-sans);
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 6vw;
  }

  .pagination__list-item {
    color: var(--color-link-blue-dark);
    display: inline;

    &:hover {
      color: var(--color-background-dusty-rose--dark);
    }

    &--next {
      margin-left: auto;
    }

    a,
    span {
      color: currentColor;
    }
  }
}

/* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  nav[aria-label='Pagination'] {
    .pagination__list {
      border-top: 1px solid var(--color-background-dusty-rose);
      padding: 1.5rem 0.5rem 0;

      a {
        font-size: calc(var(--fluid-0) * var(--type-size-modifier--secondary));
      }
    }
  }
}

/* Mid-size screens 1024px to 1280px */
@media only screen and (min-width: 64rem) {
  nav[aria-label='Pagination'] {
    .pagination__list {
      margin-top: 3rem;
    }
  }
}
