nav[aria-label='Primary links'] {
  background: var(--color-background-blue--dark);
  border-top: 6px solid var(--color-background-blue--navy);
  box-shadow: 0 -3px 0 0 var(--color-white);
  bottom: 0;
  height: 3rem;
  left: 0;
  position: fixed;
  right: 0;
  z-index: var(--z-index-2);

  .nav--primary__list {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    max-width: inherit;
    padding: 0 2vw;
  }

  .nav--primary__list-item {
    align-items: center;
    color: var(--color-white);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav--primary__link {
    color: var(--color-white);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
  }

  svg {
    display: none;
    fill: currentColor;
    height: 50%;
  }

  /* Tablet devices - 768px breakpoint */
  @media only screen and (min-width: 48rem) {
    box-shadow: none;
    position: initial;

    .nav--primary__list {
      justify-content: flex-start;
      padding: 0 0 0 1.5rem;
    }

    .nav--primary__list-item {
      border-right: 2px solid var(--color-background-blue--navy);
      margin-right: 0;

      &:first-of-type {
        margin-right: auto;
      }

      &:last-of-type {
        border: 0;
      }
    }

    .nav--primary__link {
      padding: 0.5rem 1.625rem;
    }

    .nav--primary__link--home {
      padding-left: 0.875rem;
    }

    svg {
      display: inline;
    }
  }
}
