<link rel="preload" as="style" href="/css/publicsans.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/publicsans.css" media="print" />
<link rel="preload" as="style" href="/css/literata.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/literata.css" media="print" />
<!-- TODO: Add a CSP with hash in prod -->
<script type="text/javascript">
  Array.prototype.slice.call(document.querySelectorAll('[data-async="css-async-load"]')).map(function(e) {
    e.addEventListener('load', function() {
      this.media = "all";
      this.onload = null;
    });
  });
</script>
<link rel="stylesheet" href={{ css.styles }} />
