{% set js %}
  {% include "../../../js/_inline/handleAsyncStylesheets.js" %}
{% endset %}
<script type="text/javascript" nonce="{{ config.nonceSecret }}">
  {{ js | minifyInlineScripts | safe }}
</script>
<link rel="preload" as="style" href="/css/figtree.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/figtree.css" media="print" />
<link rel="preload" as="style" href="/css/sourceserif.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/bitter.css" media="print" />
<link rel="stylesheet" href={{ css.styles }} />
