<!-- TODO: Add a CSP with hash in prod -->
{% set js %}
  {% include "../../../js/_inline/handleAsyncStylesheets.js" %}
{% endset %}
<script type="text/javascript">
  {{ js | minifyInlineScripts | safe }}
</script>
<link rel="preload" as="style" href="/css/publicsans.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/publicsans.css" media="print" />
<link rel="preload" as="style" href="/css/sourceserif.css" />
<link rel="stylesheet" data-async="css-async-load" href="/css/sourceserif.css" media="print" />
<link rel="stylesheet" href={{ css.styles }} />
