{% set canonical = config.url + page.url %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />
  {% if pageDescription %}
    <meta name="description" content="{{ pageDescription }}" />
  {% else %}
    <meta name="description" content="{{ config.globalDescription }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  {% if '/posts' in page.url %}
    {% include "layouts/partials/head/_postsSeoFB.njk" %}
  {% else %}
    {% include "layouts/partials/head/_seoFB.njk" %}
  {% endif %}
  {% include "layouts/partials/head/_wellKnown.njk" %}
  <link rel="canonical" href="{{ canonical }}" />
  {% if config.environment === 'production' %}
    {% include "layouts/partials/head/_sentry.njk" %}
  {% endif %}
  {% include "layouts/partials/head/_seo.njk" %}
  {% if config.environment === 'production' %}
    {% include "layouts/partials/head/_turnstile.njk" %}
  {% endif %}
  {% include "layouts/partials/head/_css.njk" %}
</head>
