<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "Continuum Design",
    "legalName": "Continuum Design, LLC",
    "slogan": "Work for the digital age",
    "description": "Continuum Design is a design and development agency that focuses on small business.",
    "url": "https://continuumdesign.net",
    "founder": {
      "@type": "Person",
      "name": "Trevor Pierce",
      "jobTitle": [
        {
          "@type": "DefinedTerm",
          "inDefinedTermSet": "https://www.bls.gov/soc/2018/major_groups.htm",
          "termCode": "15-1254 Web Developers",
          "url": "https://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm"
        },
        {
          "@type": "DefinedTerm",
          "inDefinedTermSet": "https://www.bls.gov/soc/2018/major_groups.htm",
          "termCode": "15-1253 Software Quality Assurance Analysts and Testers",
          "url": "https://www.bls.gov/ooh/computer-and-information-technology/software-developers.htm"
        }
      ]
    },
    "contactPoint": "Trevor Pierce",
    "currenciesAccepted": ["USD", "BTC"],
    "paymentAccepted": ["Cash", "Cryptocurrency", "PayPal"]
  }
</script>
