<!DOCTYPE html>
<html lang="{{ config.language }}">
  {% include "layouts/partials/head/_head.njk" %}
  <body>
    {% include "layouts/partials/_skipNav.njk" %}
    <div class="grid__rows">
      {% include "layouts/partials/_header.njk" %}
      {% include "layouts/partials/_primarynav.njk" %}
      {{ content | safe }}
      {% include "layouts/partials/_footer.njk" %}
    </div>
    {% if page.url === '/contact/' %}
      <script type="text/javascript" src="../js/contactForm.js" nonce="{{ config.nonceSecret }}"></script>
    {% endif %}
    {% if page.url === '/security/' %}
      <script type="module" src="../js/securityEmail.mjs" nonce="{{ config.nonceSecret }}"></script>
    {% endif %}
    {% if page.url === '/privacy/' %}
      <script type="module" src="../js/privacyEmail.mjs" nonce="{{ config.nonceSecret }}"></script>
    {% endif %}
  </body>
</html>
