<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Continuum Design is a design and development agency that focuses on small business"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid__rows">
      {% include "layouts/partials/_header.njk" %} {% include
      "layouts/partials/_primarynav.njk" %}
      {{ content | safe }}
      {% include "layouts/partials/_footer.njk" %}
    </div>
  </body>
</html>
