<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="description"
      content="Read what Continuum Design has been doing and how it can help your business"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% include "layouts/partials/_head.njk" %}
  </head>
  <body>
    {% include "layouts/partials/_skipNav.njk" %}
    <div class="grid__rows grid__rows--five layout--has-breadcrumb layout--has-aside layout--posts">
      {% include "layouts/partials/_header.njk" %}
      {% include "layouts/partials/_primarynav.njk" %}
      {% include "layouts/partials/_breadcrumb.njk" %}
      {{ content | safe }}
      {% include "layouts/partials/_footer.njk" %}
    </div>
  </body>
</html>
