<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {% include "layouts/partials/_header.njk" %} {% include
    "layouts/partials/_primarynav.njk" %}
    <nav aria-label="Breadcrumbs">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/posts/">All posts</a>
        </li>
        <li>
          <a aria-current="page" href="{{ page.url }}">{{ title }}</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
    {% include "layouts/partials/_footer.njk" %}
  </body>
</html>
