<!DOCTYPE html>
<html lang="en">
  {% include "layouts/partials/head/_head.njk" %}
  <body>
    {% include "layouts/partials/_skipNav.njk" %}
    <div class="grid__rows grid__rows--five layout--has-breadcrumb">
      {% include "layouts/partials/_header.njk" %}
      {% include "layouts/partials/_primarynav.njk" %}
      {% include "layouts/partials/_breadcrumb.njk" %}
      {{ content | safe }}
      {% include "layouts/partials/_footer.njk" %}
    </div>
  </body>
</html>
