/* ========================================
 * /global _FORMS.CSS
 * ======================================== */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="checkbox"],
textarea {
  border: 1px solid var(--color-footer-black);
  border-radius: 0;
  color: var(--color-text-black);
  flex-grow: 1;
  font-family: var(--typefaces-sans);
  height: 1.5rem;
  margin: 0;
  padding: 0.625rem 0.75rem;
}

textarea {
  height: 10rem;
}

input:invalid {
}

.contact-form {
  padding-top: 1rem;

  &__fieldset {
    border: none;
  }

  &__legend {
    > * {
      margin: 0;
    }
  }

  &__list {
    margin: 0;
    max-width: 60ch;
    padding: 0 0 0 0.25rem;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-variation-settings: "wght" var(--font-weight-semi-bold);
    margin: var(--fluid-4-margin) 0 0;
    padding: 0;

    &:nth-of-type(1) {
      margin-top: 0;
    }

    &:last-of-type {
      margin-top: var(--fluid-5-margin);
    }

    .contact-form__error-msg {
      display: none;
      font-family: var(--typefaces-sans);
    }

    .contact-form--flourish {
      display: none;
    }
  }

  &__list-item.js--invalid {
    border-left: 6px solid var(--color-form--error);
    margin-top: var(--fluid-4-margin);
    padding: 0 0 1.25rem 1.75rem;

    &:focus-within {
      border-left-color: var(--color-background-dusty-rose--lighter);
      transition: border-left-color 0.625s ease;

      label,
      label + * {
        color: var(--color-text-black);
        transition: color 0.75s ease;
      }
    }

    input,
    textarea {
      border: 1px solid var(--color-form--error);
      outline-color: var(--color-form--error);

      &:focus {
        border-color: var(--color-footer-black);
      }

      &:focus-visible {
        outline-color: var(--color-background-dusty-rose--dark);
      }
    }

    .contact-form__label {
      font-variation-settings: "wght" var(--font-weight-bold);
      margin: 0;
    }

    .contact-form__label > * {
      font-variation-settings: "wght" var(--font-weight-bold);
    }

    .contact-form__label,
    .contact-form__error-msg {
      color: var(--color-form--error);
    }

    .contact-form__label--checkbox {
      margin-top: var(--fluid-1-margin);
    }

    .contact-form__error-msg {
      display: block;
      margin: 0 0 var(--fluid-1-margin);
    }

    .contact-form__label--checkbox + .contact-form__error-msg {
      margin: var(--fluid-1-margin) 0 0;
    }

    .contact-form--flourish {
      display: inline;
    }
  }

  &__label {
    display: block;
    font-family: var(--typefaces-sans);
    margin: 0 0 0.5rem;

    > em {
      font-variation-settings: "wght" var(--font-weight-normal);
    }

    &--checkbox {
      align-items: center;
      display: flex;
      margin-top: var(--fluid-1-margin);

      input[type="checkbox"] {
        appearance: none;
        border-radius: 0;
        display: inline-block;
        flex-grow: 0;
        height: 2.5rem;
        width: 2.5rem;
      }

      input[type="checkbox"]:checked {
        appearance: revert;
      }
  
      span {
        display: inline-block;
        margin: 0 0 0 1rem;
      }
    }
  }

  &__submit {
    background-color: var(--color-background-blue--dark);
    border: none;
    border-radius: 0.375rem;
    color: var(--color-white);
    cursor: pointer;
    font-family: var(--typefaces-sans);
    font-size: var(--fluid-1);
    font-variation-settings: "wght" var(--font-weight-balanced);
    letter-spacing: 0.375px;
    margin-top: var(--fluid-4-margin);
    padding: 1rem 2rem;
    width: fit-content;

    &:hover,
    &:focus-visible {
      background-color: var(--color-background-blue--navy);
      color: var(--color-white);
    }
  }

  &__alert {
    background-color: var(--color-background-dusty-rose--lighter);
    border-radius: 0.375rem;
    margin: 1rem 0;

    & > * {
      margin: 0;
      font-family: var(--typefaces-sans);
      padding: 0.875rem 1.5rem;
    }

    &:not(:focus) {
      opacity: 0.5;
      /* TODO: Ensure these transitions wouldn't be better as transforms */
      transition: opacity 1s ease;
    }
  }
}

/* Mid-size screens 1024px to 1280px */
@media only screen and (min-width: 64rem) {
  .contact-form {
    &__submit {
      font-variation-settings: "wght" var(--font-weight-semi-bold--dark);
      letter-spacing: 0.5px;
    }
  }
}
