/* ========================================
 * /global _LINKS.CSS
 * ======================================== */

/* Action links */
.content__action-link-container {
  display: block;
  margin: var(--font-vertical-rhythm) 0;

  &--short {
    margin-top: var(--font-vertical-rhythm-quarter);
  }

  a {
    color: var(--color-link-blue-dark);
    display: block;
    font-size: var(--fluid-1);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    width: fit-content;

    &:hover,
    &:focus {
      color: var(--color-background-dusty-rose--dark);

      span {
        border-bottom-color: currentColor;
      }
    }

    span {
      border-bottom: 2px solid var(--color-link-blue-dark);
    }

    svg {
      fill: currentColor;
      height: 1.5rem;
      vertical-align: middle;
    }
  }
}
