/* ========================================
 * SELECTORS
 * ======================================== */
html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: var(--fluid-0);
}

body {
  color: var(--color-text-black);
  font-family: -apple-system, linkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: var(--font-line-height);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fluid-4);
  line-height: var(--fluid-4-vertical-rhythm);
  margin: var(--fluid-4-margin) 0;
}

h2 {
  font-size: var(--fluid-3);
  line-height: var(--fluid-3-vertical-rhythm);
  margin: var(--fluid-3-margin) 0;
}

h3 {
  font-size: var(--fluid-2);
  line-height: var(--fluid-2-vertical-rhythm);
  margin: var(--fluid-2-margin) 0;
}

h4,
h5 {
  line-height: var(--fluid-1-vertical-rhythm);
  margin: var(--fluid-1-margin) 0;
}

p {
  margin: var(--font-vertical-rhythm) 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link-blue-dark);

  &:hover,
  &:focus {
    color: var(--color-background-dusty-rose--dark);
  }
}
