/* ========================================
 * /global _TYPOGRAPHY.CSS
 * ======================================== */

/* Selectors */
html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-text-black);
  font-family: var(--typefaces-sans);
  font-weight: var(--font-weight-normal);
  line-height: 1.7;
  letter-spacing: -0.05px;
  word-spacing: -1px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  word-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typefaces-sans);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.05px;
  word-spacing: -1px;
}

h1 {
  font-size: var(--fluid-4);
  letter-spacing: 0;
  line-height: var(--fluid-3-vertical-rhythm);
  margin: var(--fluid-4-margin) 0;
}

h2 {
  font-size: var(--fluid-3);
  line-height: var(--fluid-3-vertical-rhythm);
  margin: 0 0 var(--fluid-1-margin);
}

h3 {
  font-size: var(--fluid-2);
  line-height: var(--fluid-2-vertical-rhythm);
  margin: 0 0 var(--fluid-1-margin);
}

h4,
h5 {
  font-size: var(--fluid-1);
  line-height: var(--fluid-1-vertical-rhythm);
  margin: 0 0 var(--fluid-1-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: -2px; /* Create the overhang into the gutter */
}

p {
  font-family: var(--typefaces-serif);
  font-size: var(--fluid-0);
  font-variation-settings: "wght" var(--font-weight-balanced);
  margin: 0 0 var(--fluid-4-margin);
  max-width: 72ch;
}

ol,
ul,
dl {
  font-size: var(--fluid-0);
  margin: 0 0 var(--fluid-4-margin);
  padding-left: 1.25rem;
  max-width: 72ch;
}

ol,
ul {
  font-family: var(--typefaces-serif);
}

ul {
  padding-left: 1.75rem;
}

li {
  font-size: var(--fluid-0);
  font-variation-settings: "wght" var(--font-weight-balanced);
  margin: 0 0 var(--font-vertical-rhythm-quarter) 0;
  padding: 0 0 0 0.25rem;

  &:last-of-type {
    margin: 0;
  }

  > * {
    font-family: inherit;
  }
}

a,
input,
textarea,
div[tabindex="-1"] {
  font-size: var(--fluid-0);

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 4px solid var(--color-background-dusty-rose--dark);
    outline-offset: 6px;
  }
}

a {
  color: var(--color-background-blue--dark);

  &:hover {
    color: var(--color-background-dusty-rose--dark);
  }

  &:focus-visible {
    color: var(--color-background-dusty-rose--dark);
  }
}

strong {
  font-variation-settings: "wght" var(--font-weight-bold) !important;
}

/* ========================================
 * Class-based utilities
 * ======================================== */
.type {
  &__leading-quote {
    font-size: var(--fluid-7);
  }
}

/* ========================================
 * Media queries
 * ======================================== */
 /* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  p, {
    margin: 0 0 var(--fluid-5-margin) 2px;
  }
}
