/* ========================================
 * /global _UTILITIES.CSS
 * ======================================== */
/* Code blocks */
.utils__code--comment {
  color: var(--color-code-gray--comment);
  font-style: italic;
}

.utils__code--keyword {
  font-weight: var(--font-weight-bold);
}

.utils__code--inline-block {
  background-color: var(--color-code-blue--background);
  margin-block: 1rem;
  padding-block: 1rem !important;
  padding-inline: 1.5rem 0 !important;
  white-space: initial !important;
}

/* Layout */
.utils__flex-basis--100 {
  flex-basis: 100% !important;
}

/* Lists */
.utils__list--no-bullets {
  list-style-type: none !important;
}

/* Spacing */
.utils__margin--0 {
  margin-block: 0 !important;
  margin-inline: 0 !important;
}

.utils__margin-bottom--0 {
  margin-block-end: 0 !important;
}

.utils__margin-left--0 {
  margin-inline-start: 0 !important;
}

.utils__margin-top--0 {
  margin-block-start: 0 !important;
}

.utils__text-align--left {
  text-align: start !important;
}

.utils__text-align--center {
  text-align: center !important;
}

.utils__width--100 {
  width: 100% !important;
}

/* Visibility */
.utils__visibility--sr-only {
  /* https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.utils__display--none {
  display: none !important;
}
