/* ========================================
 * /global _VARIABLES.CSS
 * ======================================== */
:root {
  /* Borders and radiuses */
  --border-radius-standard: 3px;

  /* Colors */
  --color-alice-blue: #f0f8ff;
  --color-background-black: #121212;
  --color-background-blue: #008fd5;
  --color-background-blue--dark: #081999;
  --color-background-blue--navy: #040f5e;
  --color-background-dusty-rose--lighter: #e9d1dc;
  --color-background-dusty-rose--light: #c57299;
  --color-background-dusty-rose: #ab4776;
  --color-background-dusty-rose--dark: #882455;
  --color-background-gray: #727272;
  --color-code-blue--background: #f2f7fe;
  --color-code-gray--comment: #707070;
  --color-form--error: #a70e0e;
  --color-link-blue: #234a71;
  --color-link-blue--light: #2397d3;
  --color-footer-black: #212121;
  --color-footer-gray: #888888;
  --color-text-black: #2b2b2b;
  --color-text-gray: #686868;
  --color-white: #fff;

  /* Fluid type defaults */
  --fluid-min-width: 20;
  --fluid-max-width: 80;
  --fluid-min-size: 1;
  --fluid-max-size: 1.3125;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.333;

  /* Typefaces */
  --typefaces-sans: "Fig Tree", Arial, Helvetica, "sans-serif";
  --typefaces-serif: "Bitter", Georgia, serif;

  /*  Type Weights */
  --font-weight-light: 300;
  --font-weight-balanced: 355;
  --font-weight-normal: 400;
  --font-weight-normal--mobile: 450;
  --font-weight-semi-bold--dark: 550;
  --font-weight-semi-bold: 600;
  --font-weight-semi-bold--list: 650;
  --font-weight-bold: 700;

  /* CSS locks for fluid type */
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - (var(--fluid-min-width) * 1rem)) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  /*
   * Fluid type scales
   * Min Major Third 1.25
   * Max Perfect Fourth 1.33
   * https://www.modularscale.com/
   */
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
  --fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
  --fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);

  --fluid-min-size-0: var(--fluid-min-size);
  --fluid-min-size-1: var(--fluid-min-size) * var(--fluid-min-scale-0);
  --fluid-min-size-2: var(--fluid-min-size) * var(--fluid-min-scale-1);
  --fluid-min-size-3: var(--fluid-min-size) * var(--fluid-min-scale-2);
  --fluid-min-size-4: var(--fluid-min-size) * var(--fluid-min-scale-3);
  --fluid-min-size-5: var(--fluid-min-size) * var(--fluid-min-scale-4);
  --fluid-min-size-6: var(--fluid-min-size) * var(--fluid-min-scale-5);
  --fluid-min-size-7: var(--fluid-min-size) * var(--fluid-min-scale-6);

  --fluid-max-size-0: var(--fluid-max-size);
  --fluid-max-size-1: var(--fluid-max-size) * var(--fluid-max-scale-0);
  --fluid-max-size-2: var(--fluid-max-size) * var(--fluid-max-scale-1);
  --fluid-max-size-3: var(--fluid-max-size) * var(--fluid-max-scale-2);
  --fluid-max-size-4: var(--fluid-max-size) * var(--fluid-max-scale-3);
  --fluid-max-size-5: var(--fluid-max-size) * var(--fluid-max-scale-4);
  --fluid-max-size-6: var(--fluid-max-size) * var(--fluid-max-scale-5);
  --fluid-max-size-7: var(--fluid-max-size) * var(--fluid-max-scale-6);

  --fluid-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );
  --fluid-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );
  --fluid-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
  --fluid-3: calc(
    (
      (var(--fluid-min-size-3) * 1rem) +
        (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)
    )
  );
  --fluid-4: calc(
    (
      (var(--fluid-min-size-4) * 1rem) +
        (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)
    )
  );
  --fluid-5: calc(
    (
      (var(--fluid-min-size-5) * 1rem) +
        (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)
    )
  );
  --fluid-6: calc(
    (
      (var(--fluid-min-size-6) * 1rem) +
        (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)
    )
  );
  --fluid-7: calc(
    (
      (var(--fluid-min-size-7) * 1rem) +
        (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)
    )
  );

  --fluid-1-margin: calc(var(--fluid-min-size-0) * 0.5rem);
  --fluid-2-margin: calc(var(--fluid-min-size-0) * 0.8333333333rem);
  --fluid-3-margin: calc(var(--fluid-min-size-0) * 1.25rem);
  --fluid-4-margin: calc(var(--fluid-min-size-0) * 1.5625rem);
  --fluid-5-margin: calc(var(--fluid-min-size-0) * 1.953125rem);
  --fluid-6-margin: calc(var(--fluid-min-size-0) * 2.44140625rem);

  /* Type modifiers */
  /* Because sometimes we just need to make things a hair smaller :) */
  --type-size-modifier--footer: 0.9375;
  --type-size-modifier--secondary: 0.875;

  /* Line leading */
  /* Values are derived by dividing computed line-height by font-size */
  --font-line-height: 1.7;
  --font-vertical-rhythm-quarter: calc(var(--font-line-height) * 0.25);
  --font-vertical-rhythm-third: calc(var(--font-line-height) * 0.333);
  --font-vertical-rhythm-half: calc(var(--font-line-height) * 0.5);
  --font-vertical-rhythm-two-third: calc(var(--font-line-height) * 0.667);
  --font-vertical-rhythm-double: calc(var(--font-line-height) * 2);

  --fluid-1-vertical-rhythm: calc(var(--fluid-min-size-0) * 0.8333333333);
  --fluid-2-vertical-rhythm: calc(var(--fluid-min-size-0) * 1.25);
  --fluid-3-vertical-rhythm: calc(var(--fluid-min-size-0) * 1.302);
  --fluid-4-vertical-rhythm: calc(var(--fluid-min-size-0) * 1.627777777);

  /* Z-index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-5: 5;
  --z-index-10: 10;
}

@media only screen and (min-width: 80rem) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1rem);
  }
}
