:root {
  /* Colors */
  --color-background-black: #121212;
  --color-background-blue: #008fd5;
  --color-background-blue--dark: #081999;
  --color-background-blue--navy: #040f5e;
  --color-background-dusty-rose: #ab4776;
  --color-background-dusty-rose--dark: #882455;
  --color-link-blue: #234a71;
  --color-link-blue-light: #2397d3;
  --color-link-blue-dark: #081999;
  --color-footer-black: #212121;
  --color-footer-gray: #888888;
  --color-text-black: #111;
  --color-white: #fff;

  /* Fluid type scales */
  --fluid-min-width: 20;
  --fluid-max-width: 80;
  --fluid-min-size: 1;
  --fluid-max-size: 1.25;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.3;

  /* CSS locks */
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - (var(--fluid-min-width) * 1rem)) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);

  --fluid-min-size-0: var(--fluid-min-size);
  --fluid-min-size-1: var(--fluid-min-size) * var(--fluid-min-scale-0);
  --fluid-min-size-2: var(--fluid-min-size) * var(--fluid-min-scale-1);
  --fluid-min-size-3: var(--fluid-min-size) * var(--fluid-min-scale-2);
  --fluid-min-size-4: var(--fluid-min-size) * var(--fluid-min-scale-3);

  --fluid-max-size-0: var(--fluid-max-size);
  --fluid-max-size-1: var(--fluid-max-size) * var(--fluid-max-scale-0);
  --fluid-max-size-2: var(--fluid-max-size) * var(--fluid-max-scale-1);
  --fluid-max-size-3: var(--fluid-max-size) * var(--fluid-max-scale-2);
  --fluid-max-size-4: var(--fluid-max-size) * var(--fluid-max-scale-3);

  --fluid-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );
  --fluid-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );
  --fluid-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
  --fluid-3: calc(
    (
      (var(--fluid-min-size-3) * 1rem) +
        (var(--fluid-max-size-3) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
  --fluid-4: calc(
    (
      (var(--fluid-min-size-4) * 1rem) +
        (var(--fluid-max-size-4) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );

  /*  Type Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Z-index */
  --z-index-2: 2;
  --z-index-5: 5;
  --z-index-10: 10;
}

@media screen and (min-width: 80rem) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1rem);
  }
}
