<nav aria-label="Breadcrumbs">
  <ul class="content__layout">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{{ parentDir }}">{{ parentText }}</a>
    </li>
    <li>
      <a aria-current="page" href="{{ page.url }}">{{ shortTitle }}</a>
    </li>
  </ul>
</nav>
