<nav aria-label="Breadcrumbs" class="content__breadcrumb-container">
  <ul class="content__layout" role="list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{{ parentDir }}">{{ parentText }}</a>
    </li>
    <li>
      <a aria-current="page" href="{{ page.url }}">{{ shortTitle }}</a>
    </li>
  </ul>
</nav>
