<nav aria-label="Breadcrumbs">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{{ parentDir }}">All posts</a>
    </li>
    <li>
      <a aria-current="page" href="{{ page.url }}">{{ title }}</a>
    </li>
  </ul>
</nav>