<footer role="contentinfo">
  <div class="footer__block">
    <h2 class="footer__heading">Shout outs</h2>
    <div class="footer__column">
      <h3 id="list-title-code" class="footer__subhead">Code</h3>
      <ul aria-labelledby="list-title-code" class="footer__list">
        <li class="footer__list-item">
          <a href="https://www.11ty.dev/">Eleventy</a>
        </li>
        <li class="footer__list-item">
          <a href="https://postcss.org/">PostCSS</a>
        </li>
        <li class="footer__list-item">
          <a href="https://nodejs.dev/">Node JS</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.netlify.com/">Netlify</a>
        </li>
        <li class="footer__list-item">
          <a href="https://code.visualstudio.com/">VS Code</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.vim.org/">Vim</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <h3 id="list-title-a11y" class="footer__subhead">
        <span aria-label="Accessibility">A11y</span> &amp; Security
      </h3>
      <ul aria-labelledby="list-title-a11y" class="footer__list">
        <li class="footer__list-item">
          <a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1</a>
        </li>
        <li class="footer__list-item">
          <a href="https://deque.com/axe/">axe-core</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.cypress.io/">Cypress</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.webpagetest.org/">Webspeedtest</a>
        </li>
        <li class="footer__list-item">
          <a href="https://csp-evaluator.withgoogle.com/">CSP Evaluator</a>
        </li>
        <li class="footer__list-item">
          <a href="https://developers.google.com/web/tools/lighthouse">
            Google Lighthouse
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <h3 class="footer__subhead">Design &amp; Data</h3>
      <ul
        aria-labelledby="list-title-a11y"
        class="footer__list footer__list--horizontal"
      >
        <li class="footer__list-item">
          <a href="https://alistapart.com/">A List Apart</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>
        </li>
        <li class="footer__list-item">
          <a href="https://css-tricks.com/">CSS Tricks</a>
        </li>
        <li class="footer__list-item">
          <a href="https://fivethirtyeight.com/">FiveThirtyEight</a>
        </li>
        <li class="footer__list-item">
          <a href="https://www.edwardtufte.com/tufte/">Edward Tufte</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__block">
    <h2 id="list-title-social" class="footer__heading">
      Open
      <span aria-hidden="true">_</span>
      <span class="utils__visibility--sr-only">&nbsp;</span>
      Source and Social Media
    </h2>
    <ul
      aria-labelledby="list-title-social"
      class="footer__list footer__list--horizontal"
    >
      <li class="footer__list-item"><a href="#">GitHub</a></li>
      <li class="footer__list-item"><a href="#">Twitter</a></li>
      <li class="footer__list-item"><a href="#">Facebook</a></li>
      <li class="footer__list-item"><a href="#">Instagram</a></li>
      <li class="footer__list-item"><a href="#">Dribbble</a></li>
      <li class="footer__list-item"><a href="#">Snapchat</a></li>
    </ul>
  </div>

  <div class="footer__copyright">
    &#169; 2021 Continuum Design. All rights reserved.
  </div>
</footer>
