<header aria-label="Continuum Design. Work for the digital age." role="banner">
  <div class="content__layout--hero">
    <picture>
      <source
        media="(min-width: 80rem)"
        srcset="/images/backgrounds/large-header.jpg, /images/backgrounds/large-header@2x.jpg 2x"
      />
      <source
        media="(min-width: 64rem)"
        srcset="/images/backgrounds/mid-header.jpg, /images/backgrounds/mid-header@2x.jpg 2x"
      />
      <source
        media="(min-width: 48rem)"
        srcset="/images/backgrounds/tablet-header.jpg, /images/backgrounds/tablet-header@2x.jpg 2x"
      />
      <source
        media="(min-width: 20rem)"
        srcset="/images/backgrounds/mobile-header.jpg, /images/backgrounds/mobile-header@2x.jpg 2x"
      />
      <img src="/images/backgrounds/mobile-header.jpg" alt="" />
    </picture>
  </div>
  <div class="content__layout content__layout--header-text">
    <a href="/">
      <span>continuum design</span>
      <span>work. for the digital age.</span>
    </a>
  </div>
</header>
