<nav aria-label="Primary links" role="navigation">
  <ul class="flex nav--primary__list" role="list">
    <li class="flex nav--primary__list-item nav--primary__list-item--home">
      <a href="/">Home</a>
    </li>
    <li class="flex nav--primary__list-item">
      <a href="/services">Services</a>
    </li>
    <li class="flex nav--primary__list-item">
      <a href="/posts">Blog Posts</a>
    </li>
    <li class="flex nav--primary__list-item nav--primary__list-item--last">
      <a href="/contact">Contact me</a>
    </li>
  </ul>
</nav>
