---
title: My first blog post
shortTitle: My first blog post
parentDir: '/posts/'
parentText: All posts
---

<main role="main">
  <div class="content__layout">
    <h1>{{ title }}</h1>
    <p>This is the first paragraph of the first post!</p>
  </div>
</main>
