---
title: My first blog post
shortTitle: My first blog post
parentDir: '/posts/'
parentText: All posts
tags: ['']
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>
    <p>This is the first paragraph of the first post!</p>
  </div>
</main>
