---
title: Things I have written
layout: layouts/layout.njk

---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>

    <p>
      This is the posts page. We should list the posts in reverse chronological
      order.
    </p>

    {% include "layouts/partials/_postlist.njk" %}
  </div>
</main>
