---
title: Continuum Design Services. All Posts!
layout: layouts/layout.njk
eleventyExcludeFromCollections: true
---

<main role="main">
  <div class="content__layout">
    <h1>{{ title }}</h1>

    <p>This is the posts page. We should list the posts in reverse chronological order.</p>

    {% include "layouts/partials/_postlist.njk" %}
  </div>
</main>
