---
title: Terms and conditions
layout: layouts/layout.njk
eleventyExcludeFromCollections: true;
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">Terms &amp; conditions</h1>
    <div class="services__container">
      <p>Continuum Design <em>(Continuum Design, LLC)</em> reserves copyright to all content on this website. This includes but is not limited to written content, images, illustrations, and other visual representations of Continuum Design intellectual property (IP). Items that are not Continuum Design copyright such as linked articles or embedded files will be properly attributed to their respective copyright owners.</p>

      <p>This Terms and Conditions file was written using suggestions from <a href="https://www.legendarylion.com/how-to-protect-your-online-business-reasons-behind-the-terms-and-conditions-and-privacy-policy-statements/" rel="noopener noreferrer" target="_blank">How to Protect Your Online Business: Reasons Behind the 'Terms and Conditions' and 'Privacy Policy' Statements</a>.</p>
      
      <h2>Licensing</h2>

      <p>The source code to create this website is licensed under the <a href="https://opensource.org/licenses/MIT" rel="noopener noreferrer" target="_blank">MIT License</a>. Source code is free to be copied, modified, merged, published, distributed, sublicensed, and/or sold as long as the <a href="https://github.com/1Copenut/c3-eleventy/blob/main/LICENSE.txt" rel="noopener noreferrer" target="_blank">copyright and permission notice</a> is included. Continuum Design also provides attribution for the open-source software used in the creation of this website in a <a href="https://github.com/1Copenut/c3-eleventy/blob/main/NOTICE.txt" rel="noopener noreferrer" target="_blank">NOTICE.txt file</a> in the source code repository.</p>

      <p>Original written content is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener noreferrer" target="_blank">Attribution-NonCommercial-ShareAlike License</a>. Content may be shared and adapted for non-commercial application as long as the terms of the license are honored.

      <h2>Description of services</h2>

      <p>This website is intended to provide information about the services Continuum Design can offer to prospective customers. It is not an explicit or implicit agreement to perform work for any customer. Services offered may change from time to time as my interests and expertise change. Customers will be informed if services are being added or removed.</p>
    </div>
  </div>
</main>
