---
title: Continuum Design.
layout: layouts/layout.njk
---

<p>Hi, I&lsquo;m Trevor. This is my studio, Continuum Design. I'm glad you're here.</p>

<h2>Elevator pitch</h2>

<p>Continuum Design is a small design agency. As in one person. I have nearly twenty years of experience, including print design, brand identity, user experience, and web development. I work primarily with small businesses who want to improve their search rank and make it easier for customers to connect online.</p>

<strong>CONTACT ME action link</strong>

<h2>How I work</h2>

<p>It starts with a meeting, in person when possible, and online when not. I tend to listen, take notes, and ask a few open-ended questions. I want to get to know your business. To understand your goals, and what you hope to achieve by partnering with Continuum Design.</p>

<h3>A typical engagement might look like:</h2>

<ol>
<li>First meeting - This will usually be a video call (Google Chat, Skype, Zoom) but could be in-person</li>
<li>Comparative analysis - I will review your goals against peer competitors and write a proposal of work</li>
<li>First quote - The first quote will include work to be done, an estimate of hours, and an hourly cost rate</li>
<li>Quote amendments - Any change requests will be added to the quote document before a contract is drafted</li>
<li>Contract - After the quote amendments are agreed upon, Continuum Design will send the customer a simple contract to sign</li>
<li>Work begins - Once the contract is signed, a 50% deposit will be collected and work will begin</li>
</ol>