---
title: Continuum Design. Work for the digital age.
layout: layouts/layout.njk
tags: ['sitemap']
---

<main aria-labelledby="content-heading" role="main" id="content">
  <div class="content__layout">
    <h1 id="content-heading">{{ title }}</h1>

    <p>Hi, I&lsquo;m Trevor. This is my studio, Continuum Design. I'm glad you're here.</p>

    <h2>Elevator pitch</h2>

    <p>I believe every business owner should have a website. Sites should load quickly, be easy to find, protect customer data, and be accessible for all users.</p>

    <h2>What I do</h2>

    <p>Continuum Design is a small design agency. As in one person. I have twenty years of experience in print design, brand identity, user experience, and web development. I work  with businesses that want to improve their visibility and make it easier for customers to say <strong>&ldquo;Yes&rdquo;</strong>.
    </p>

    <h3>Continuum Design follows five principles</h3>

    <ul>
      <li>Test the things that should be tested</li>
      <li>Build with a performance budget and support low powered devices</li>
      <li>Use tools like <a aria-label="Deque's axe software. Link opens in a new tab." href="https://www.deque.com/axe/" target="_blank" rel="noopener noreferrer">Deque&rsquo;s axe software</a> to spot accessibility defects</li>
      <li>Make contact information easy to find and act upon</li>
      <li>Provide clear policies on privacy and data usage</li>
    </ul>

    <div class="content__action-link-container">
      <a href="/contact/" class="content__action-link">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
          <path
            d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"
          />
        </svg>
        <span>Contact me</span>
      </a>
    </div>
  </div>
</main>
