/* ========================================
 * /page _POSTS.CSS
 * ======================================== */

.posts {
  /* Containing 12-column grid */
  &__grid {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-block: 0;
    margin-inline: auto;
    max-width: 1440px;
    width: 100%;

    /* Landmarks */
    div[role="region"],
    main,
    aside {
      display: block;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row: 1;

      > div {
        margin-block: 0;
        margin-inline: 0;
      }
    }

    main {
      grid-row: 2;
    }

    aside {
      color: var(--color-text-black);
      font-size: var(--fluid-0);
      grid-row: 3;
      margin-block-start: 2rem;
      text-align: left;
    }

    /* Images */
    figure {
      margin-block: 0 var(--fluid-5-margin);
      margin-inline: 0;
      max-width: fit-content;
    }

    figcaption {
      font-style: italic;
      max-width: 60ch;
      padding-block: 0 0.325rem;
      padding-inline: 0;

      strong {
        display: block;
      }
    }

    img {
      aspect-ratio: 16 / 9;
      display: block;
      height: auto;
      margin-block-end: var(--fluid-1-margin);
      object-fit: cover;
    }

    /* Code blocks */
    pre {
      background-color: var(--color-code-blue--background);
      border: 1px solid var(--color-background-dusty-rose);
      display: flex;
      flex-direction: column;

      div:first-of-type {
        align-self: flex-start;
        background: var(--color-background-dusty-rose);
        border-radius: 0 0 var(--border-radius-standard) 0;
        color: var(--color-white);
        font-family: var(--typefaces-sans);
        padding-block: 0.325rem;
        padding-inline: 0.75rem;
      }
    }

    code {
      display: block;
      white-space: pre;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      max-width: 100%;
      min-width: 100px;
      padding-block: 1rem;
      padding-inline: 1.5rem 1rem;
    }
  }

  &__byline-container {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row: 2;
    margin-block: 1rem 0;
    margin-inline: -0.75rem 0;

    .list--unordered {
      margin-block: 0;
    }

    .list--unordered-second-level {
      display: inline;
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0;

      li {
        display: inline;
        list-style-type: none;

        &:after {
          content: ",";
        }

        &:last-of-type:after {
          content: "";
        }
      }
    }
  }

  /* Jump links for sidebar content */
  &__jump-link-header {
    a {
      font-weight: var(--font-weight-normal);
      margin-block-start: -2px;
    }
  }

  &__jump-link-definitions {
    border-left: 6px solid var(--color-background-dusty-rose);
    margin-inline-start: 0.325rem;
    padding-block: 0;
    padding-inline: 3rem 1.5rem;

    div[itemtype*="DefinedTerm"] {
      margin-block-end: var(--fluid-4-margin);

      &:last-of-type {
        margin-block-end: 0;
      }
    }

    dt {
      font-weight: var(--font-weight-bold);
    }

    dd {
      a {
        color: var(--color-background-blue--dark);
        display: block;
      }
    }
  }
}

/* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  .layout {
    &--posts {
      [aria-label="Breadcrumbs"] .content__layout {
        grid-column-start: 2;
      }
    }
  }

  .posts {
    &__grid {
      column-gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-block: 0;
      margin-inline: auto;
      max-width: 1440px;
      width: 100%;

      div[role="region"] {
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row: 1;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        max-width: 28ch;
      }

      main {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row: 2;

        p {
          max-width: 68ch;
        }
      }

      aside {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row: 3;

        * {
          font-size: 1rem;
        }

        h2 {
          color: var(--color-text-black);
          font-size: var(--fluid-2);
          line-height: var(--fluid-2-vertical-rhythm);
          margin-block: 0 var(--fluid-1-margin);
          margin-inline: 0;
        }
      }

      figcaption {
        font-size: calc(var(--fluid-0) * var(--type-size-modifier--secondary));
      }
    }

    &__jump-link-definitions {
      border-left: 6px solid var(--color-background-dusty-rose);
      margin-inline-start: 0.325rem;
      padding-block: 0;
      padding-inline: 3rem 1.5rem;
    }
  }
}

/* Mid-size screens 1024px to 1280px */
@media only screen and (min-width: 64rem) {
  .layout {
    &--posts {
      [aria-label="Breadcrumbs"] .content__layout {
        grid-column-start: 4;
      }
    }
  }

  .posts {
    &__grid {
      column-gap: 1.75rem;

      div[role="region"] {
        grid-column-start: 4;
      }

      main {
        grid-column-start: 4;
      }

      aside {
        align-self: center;
        color: var(--color-text-gray);
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 2;
        margin-block-start: 0.625rem;
        text-align: right;

        h2 {
          border: 0;
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          height: 1px;
          margin-block: -1px;
          margin-inline: -1px;
          overflow: hidden;
          padding-block: 0;
          padding-inline: 0;
          position: absolute;
          width: 1px;
        }

        .content__layout :not(h2) {
          font-style: italic;
        }
      }
    }

    &__grid--no-aside {
      main {
        grid-column-start: 4;
      }
    }

    &__jump-link-definitions {
      border: none;
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0 1vw;
    }
  }
}

/* Large screens 1280px and wider */
@media only screen and (min-width: 80rem) {
  .posts {
    &__grid {
      column-gap: 2.25rem;
    }
  }
}
