/* ========================================
 * /page _SERVICES.CSS
 * ======================================== */

.services {
  &__opening {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-block: 0 var(--fluid-4-margin);
    margin-inline: auto;
    width: 100%;
  }

  &__lead-paragraph {
    display: contents;
    font-family: var(--typefaces-serif);
    font-size: var(--fluid-1);
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    position: relative;

    > * {
      font-size: inherit;
    }

    .type__leading-quote {
      font-size: var(--fluid-6);
      grid-column-start: 1;
      grid-column-end: 2;
      height: 0;
      margin-block-start: -1.5rem;
      text-align: right;

      + span {
        font-variation-settings: "wght" var(--font-weight-balanced);
        grid-column-start: 2;
        grid-column-end: 12;
      }
    }
  }

  &__heading {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
  }

  &__quote-container {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    margin-block: 0 var(--fluid-2-margin) 0.125rem;
    margin-inline: 0;
  }

  &__quote-list {
    margin-block: 0 var(--fluid-1-margin);
    margin-inline: 0;
    padding: 0;
  }

  &__quote-entry {
    font-weight: var(--font-weight-semi-bold--list);
  }

  &__quote-definition {
    border-left: 9px solid var(--color-background-dusty-rose);
    font-style: italic;
    margin-block: 0.625rem 0;
    margin-inline: 0.625rem 0;
    padding: 0 0 0.25rem 1rem;
  }

  &__card {
    background-color: var(--color-alice-blue);
    border-left: 6px solid var(--color-background-black);
    margin-block-end: 2rem;
    padding: 1rem 1.5rem 1.5rem 1.625rem;

    h3 {
      padding: 0.25rem 0 0 0.125rem;
    }

    p {
      margin-block: 0;
      margin-inline: 0.25rem 0;

      .content__action-link-container {
        margin-left: -0.25rem;
      }
    }
  }

  &__engagement-list {
    counter-reset: item;
    padding: 0;
  }

  &__engagement-list-item {
    counter-increment: item;
    list-style-type: none;
    margin-block-end: 1rem;
    max-width: 55ch;

    &:before {
      content: counter(item) ".";
      display: inline-block;
      font-variation-settings: "wght" var(--font-weight-semi-bold);
      margin-right: 0.75rem;
      text-align: right;
      width: 1rem;
    }

    strong {
      &:after {
        content: ":";
      }
    }

    span {
      display: block;
      margin-left: 1.75rem;
      max-width: 45ch;
    }
  }
}

/* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  .services {
    &__lead-paragraph {
      grid-column-end: 12;

      .type__leading-quote {
        margin-block-start: -2rem;
      }
    }

    &__quote-container {
      grid-column-end: 10;
      margin-block-end: var(--fluid-5-margin);
    }
  }
}

/* Mid-size screens 1024px to 1280px */
@media only screen and (min-width: 64rem) {
  .services {
    &__lead-paragraph {
      .type__leading-quote {
        margin-block-start: -2.5rem;
      }
    }

    &__content-header {
      max-width: 34ch;
    }

    &__content-paragraph {
      max-width: 60ch;
    }
  }
}

/* Large screens 1280px and wider */
@media only screen and (min-width: 80rem) {
  .services {
    &__lead-paragraph {
      .type__leading-quote {
        margin-block-start: -3rem;
      }
    }

    &__content-header {
      max-width: 24ch;
    }

    &__content-paragraph {
      max-width: 64ch;
    }
  }
}
