.services {
  &__opening {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 100%;
  }

  &__lead-paragraph {
    font-family: Georgia;
    font-size: var(--fluid-1);
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    position: relative;

    > * {
      font-size: inherit;
    }

    .type__leading-quote {
      left: -2rem;
      position: absolute;
      top: -1.5rem;
    }
  }

  &__heading {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
  }

  &__quote-container {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    margin: 0 0 var(--fluid-2-margin) 0.125rem;
  }

  &__quote-list {
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 0 0 var(--fluid-1-margin);
    padding: 0;
  }

  &__quote-entry {
    font-weight: var(--font-weight-bold);
  }

  &__quote-definition {
    border-left: 9px solid var(--color-background-dusty-rose);
    margin: 0.625rem 0 0 0.625rem;
    padding: 0 0 0.25rem 1rem;
  }

  &__card {
    h3 {
      border-top: 1px solid var(--color-text-black);
      padding: 0.5rem 0 0 0.25rem;
    }

    p {
      margin-left: 0.25rem;

      .content__action-link-container {
        margin-left: -0.25rem;
      }
    }
  }
}

/* Tablet devices - 768px breakpoint */
@media only screen and (min-width: 48rem) {
  .services {
    &__lead-paragraph {
      grid-column-end: 12;

      .type__leading-quote {
        left: -3.5rem;
        top: -2.75rem;
      }
    }

    &__content-paragraph {
      max-width: 55ch;
    }
  }
}

/* Mid-size screens 1024px to 1280px */
@media only screen and (min-width: 64rem) {
  .services {
    &__lead-paragraph {
      .type__leading-quote {
        left: -4.25rem;
        top: -3.5rem;
      }
    }

    &__card {
      h3 {
        border-top: none;
      }
    }

    &__content-header {
      max-width: 34ch;
    }

    &__content-paragraph {
      max-width: 60ch;
    }
  }
}

/* Large screens 1280px and wider */
@media only screen and (min-width: 80rem) {
  .services {
    &__lead-paragraph {
      .type__leading-quote {
        left: -4.5rem;
        top: -3.5rem;
      }
    }

    &__content-header {
      max-width: 28ch;
    }

    &__content-paragraph {
      max-width: 64ch;
    }
  }
}
